# Vim
Session.vim

# Logs
*.txt
*.put

# SPN models
*.mdl
*.spn

# Datasets
*.npy
*.pgm
*.png

# Python
*.py

# Binaries for programs and plugins
godrive
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
